{
  "env": {
    "es": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    },
    "cjs": {
      "presets": [
        [
          "env"
        ]
      ]
    }
  }
}
